@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
} 

body {
  background-color: #ebeef1;
}

::selection {
  color: #F2F2F2;
  background: #4a4a4a;
}

/* Navbar */

.navbar {
  font-family: 'Poppins';
  margin-top: 30px;
  user-select: none;
  position: relative;
  margin-bottom: 30px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px 300px;
  width: 100%;
}

.navbar li {
  flex: 1;
  text-align: center;
  margin: 0px 50px;
}

.navbar a {
  color: #4a4a4a;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
  padding-bottom: 5px; /* Adjust this to create space for the underline */
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(235, 81, 81);
  transition: width 0.37s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

.navbar a:hover {
  color: rgb(235, 81, 81);
}

.navbar a.active {
  color: rgb(235, 81, 81);
}

@keyframes rock {
  0%{
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.logo {
  margin-left: 200px;
  width: 50px;
  position: absolute;
}

.logo:hover {
  animation: rock 1s linear infinite;
}

/* Home */

.box-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 320px;
}

.box {
  width: 230px;
  height: 320px;
  padding-top: 45px;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  background-color: #ffffff;
}

.box img {
  user-select: none;
}

.box:hover {
  transform: scale(1.08);
}

.box h2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  margin-top: 24px;
  padding: 0px 20px;
}

/* Loading */

.loading {
  margin-top: 200px;
  display: flex;
  justify-content: center;

  div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: rgb(184, 184, 184);
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}


/* Statistics */

.column-container {
  display: flex;
  justify-content: space-between; 
  padding: 10px 100px 50px 100px;
}

.column1 {
  flex: 0 0 40%;
  align-items: center; 
}

.column1 img {
  user-select: none;
}

.column2 {
  flex: 0 0 60%;
  align-items: center; 
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.leaderboard-podium {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.leaderboard-cell {
  font-family: 'Poppins';
  text-align: center;
  padding: 10px;
  align-self: flex-end;
  position: relative;
}

.leaderboard-cell.first {
  background-color: #bebebe; 
  width: 150px;
  height: 210px;
  z-index: 1; 
  order: 2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.leaderboard-cell.second {
  background-color: #c8c8c8; 
  width: 150px;
  height: 162px;
  order: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.leaderboard-cell.third {
  background-color: #d3d3d3; 
  width: 150px;
  height: 145px;
  order: 3;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.leaderboard-cell h1 {
  font-size: 18px;
}

.leaderboard-cell .percent {
  font-size: 14px !important;
  margin-bottom: 3px;
}

.leaderboard-cell img {
  margin-top: -50px;
  width: 75px;
}

.leaderboard-cell .podium-num {
  position: absolute;
  margin-left: 6px;
}

.crown {
  position: absolute;
  margin-left: 90px;
  top: 20px;
  width: 30px;
  transform: rotate(35deg);
}

.leaderboard .title {
  font-size: 30px;
  font-family: 'Poppins';
  margin-bottom: 60px;
}

.leaderboard-list {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: rgb(225, 225, 225);
  width: 450px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: -35px;
}

.leaderboard-list .row {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  width: 80%; 
  padding: 10px 15px; 
  box-sizing: border-box;
  border-bottom: 2px solid rgb(200, 200, 200);
}

.row.last{
  border: none;
}

.leaderboard-list .row h1 {
  flex: 0 0 15%; 
  text-align: left; 
  margin: 0;
}

.leaderboard-list .row img {
  flex: 0 0 15%; 
  margin-right: 12px; 
  width: 50px;
  vertical-align: middle;
}

.leaderboard-list .row .pokemon-name {
  flex: 0 0 45%; 
  text-align: left;
}

.leaderboard-list .row .percentage {
  flex: 0 0 20%; 
  text-align: right;
}

.leaderboard-list h1 {
  font-size: 14px;
  font-family: 'Poppins';
}

/* Search Bar */

.search-bar-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.search-box {
  font-family: 'Poppins';
  flex: 1;
  border: 2px solid rgb(133, 133, 133);
  outline: none;
  background: none;
  padding: 20px;
  padding-left: 64px;
  background-color: rgb(208, 208, 208);
  margin: 0;
  box-shadow: none;
  width: 420px;
  height: 48px;
  border-radius: 30px;
}

.search-box::placeholder {
  font-family: 'Poppins';
  color: #4a4a4a;
  font-style: italic;
}

.search-bar img {
  position: absolute;
  width: 25px;
  margin-left: 22px;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 28px;
  right: 28px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgb(199, 199, 199);
}

.search-suggestions ul {
  font-family: 'Poppins';
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  list-style: none;
  max-height: 200px; 
  overflow-y: auto;
}

.search-suggestions ul::-webkit-scrollbar {
  width: 12px; 
}

.search-suggestions ul::-webkit-scrollbar-track {
  background: #dbdbdb;
  border-radius: 8px; 
}

.search-suggestions ul::-webkit-scrollbar-thumb {
  background-color: #969696; 
  border-radius: 8px; 
  border: 2px solid #f0f0f0; 
}

.search-suggestions ul::-webkit-scrollbar-thumb:hover {
  background-color: #6c6c6c; 
}

.pkmn-info1 {
  margin-top: 10px;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.pkmn-info2 {
  margin-top: 10px;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.typing {
  display: flex;
}

.type {
  width: 100px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 6px;
  margin: 0px 5px;
}

.dark {
  color: #dbdbdb;
  background-color: #4a4a4a;
}

.steel {
  color: #dbdbdb;
  background-color: #797979;
}

.water {
  color: #dbdbdb;
  background-color: #347be4;
}

.fire {
  color: #dbdbdb;
  background-color: #d5693b;
}

.grass {
  color: #dbdbdb;
  background-color: #55b377;
}

.flying {
  color: #dbdbdb;
  background-color: #5da6c3;
}

.fairy {
  color: #dbdbdb;
  background-color: #c66fb9;
}

.psychic {
  color: #dbdbdb;
  background-color: #aa55bf;
}

.bug {
  color: #dbdbdb;
  background-color: #78a05e;
}

.fighting {
  color: #dbdbdb;
  background-color: #af6529;
}

.ice {
  color: #dbdbdb;
  background-color: #7cbfc6;
}

.ground {
  color: #dbdbdb;
  background-color: #916754;
}

.rock {
  color: #dbdbdb;
  background-color: #9f8871;
}

.ghost {
  color: #dbdbdb;
  background-color: #614d7a;
}

.normal {
  color: #4a4a4a;
  background-color: #d0d0d0;
}

.poison {
  color: #dbdbdb;
  background-color: #7b3e81;
}

.electric {
  color: #4a4a4a;
  background-color: #d9cf46;
}

.dragon {
  color: #dbdbdb;
  background-color: #49269b;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pkmn-sprite {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pkmn-graphs {
  width: 660px;
  height: 550px;
  font-family: 'Poppins';
  margin-bottom: 20px;
}

.row .stats {
  margin-left: 24px;
  align-items: center;
}

.stat-label {
  margin-bottom: 8px;
}

.stats-label {
  align-items: flex-end;
}

.stats-num {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.bar {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(236, 193, 193);
  width: 40px;
  height: 22px;
  background-color: #e55256;
  border-radius: 8px;
  margin: 0px 15px 10px 8px;
}

.main-info {
  margin-bottom: 30px;
}

.info-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  max-height: 200px; 
  overflow-y: auto;
  background-color: rgb(228, 228, 228);
}

.info-box .row {
  justify-content: space-between;
}

.info-box::-webkit-scrollbar {
  width: 12px; 
}

.info-box::-webkit-scrollbar-track {
  background: #dbdbdb;
  border-radius: 8px; 
}

.info-box::-webkit-scrollbar-thumb {
  background-color: #969696; 
  border-radius: 8px; 
  border: 2px solid #f0f0f0; 
}

.info-box-cluster {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  width: 600px;
}

.info-box.long {
  grid-column: span 2;
}

.pokemonStats {
  margin-bottom: 70px;
}

.info-box.tall {
  max-height: 600px;
}